<form name="subscribeForm" (ngSubmit)="confirmUnsubscribe(project.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.unsubscribe.title">Confirm unsubscribing</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-project-heading" jhiTranslate="ihiwManagementApp.project.unsubscribe.question" [translateValues]="{id: project.id}">Are you sure you want to unsubscribe from this project?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-unsubscribe-project" type="submit" class="btn btn-primary">
            <fa-icon [icon]="'check'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.confirm">Unsubscribe</span>
        </button>
    </div>
</form>
