<div>
    <h2 id="page-heading">
        <span jhiTranslate="ihiwManagementApp.project.home.title">Projects</span>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN', 'ProjectLeader'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ihiwManagementApp.project.home.createLabel">
            Create a new Project
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="projects?.length === 0">
        <span jhiTranslate="ihiwManagementApp.project.home.notFound">No projects found</span>
    </div>
    <div class="table-responsive" *ngIf="projects?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.name">Name</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.component">Component</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.description">Description</span></th>
            <th *jhiHasAnyAuthority="['ROLE_ADMIN']"></th>
            <th><span>Subscription Status</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.createdAt">Created At</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.leader">Project Leaders</span></th>
            <th><span jhiTranslate="ihiwManagementApp.project.lab">Lab</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects; trackBy: trackId">
                <td><a [routerLink]="['/project', project.id, 'view' ]">{{project.id}}</a></td>
                <td>{{project.name}}</td>
                <td>{{project.component}}</td>
                <td>
                    <div *ngIf="project.description">
                        {{ (project.description.length>128)? (project.description | slice:0:128)+'...':(project.description) }}
                    </div>
                </td>
                <td *jhiHasAnyAuthority="['ROLE_ADMIN']">
                    <button class="btn btn-danger btn-sm" (click)="setActive(project, true)" *ngIf="!project.activated"
                            >Deactivated</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(project, false)" *ngIf="project.activated"
                             >Activated</button>
                </td>
                <td>
                    <span class="badge badge-warning btn-sm" *ngIf="myProjectStatus(project, 'REQUESTED')">
                        Waiting
                    </span>
                    <span class="badge badge-success btn-sm" *ngIf="myProjectStatus(project, 'SUBSCRIBED')">
                        Subscribed
                    </span>
                </td>
                <td>{{project.createdAt | date:'short'}}</td>
                <td>
                    <span *ngFor="let leader of project.leaders; let last = last">
                            <a class="form-control-static" [routerLink]="['/ihiw-user', leader?.id, 'view' ]">{{leader.user?.firstName}} {{leader.user?.lastName}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let labWrapper of project.labs |  status:'UNSUBSCRIBED'; let last = last">
                            <a class="form-control-static" [routerLink]="['/ihiw-lab', labWrapper.lab?.id, 'view' ]">
                                {{labWrapper.lab.labCode}}
                                <span class="badge badge-warning badge-pill" *ngIf="labWrapper.status === 'REQUESTED'">
                                    <fa-icon  [icon]="'clock'"></fa-icon>
                                </span>
                            </a>
                            {{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ProjectLeader']"
                                type="submit"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ProjectLeader']"
                                type="submit"
                                [routerLink]="['/project', { outlets: { popup: project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <ng-container *jhiHasAnyAuthority="['ProjectLeader', 'PI']">
                            <button *ngIf="!myProjectStatus(project, 'SUBSCRIBED') && !myProjectStatus(project, 'DECLINED') && !myProjectStatus(project, 'REQUESTED')"
                                    type="submit"
                                    [routerLink]="['/project', { outlets: { popup: project.id + '/subscribe'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'plus-square'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.subscribe">Subscribe</span>
                            </button>
                            <button *ngIf="myProjectStatus(project, 'SUBSCRIBED')"
                                    type="submit"
                                    [routerLink]="['/project', { outlets: { popup: project.id + '/unsubscribe'} }]"
                                    replaceUrl="true"
                                    queryParamsHandling="merge"
                                    class="btn btn-danger btn-sm">
                                <fa-icon [icon]="'minus-square'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.unsubscribe">Unubscribe</span>
                            </button>
                            <!--<button *ngIf="myProjectStatus(project, 'REQUESTED')"-->
                                    <!--type="submit"-->
                                    <!--replaceUrl="true"-->
                                    <!--queryParamsHandling="merge"-->
                                    <!--class="btn btn-warning btn-sm">-->
                                <!--<fa-icon [icon]="'clock'"></fa-icon>-->
                                <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.requested">Requested</span>-->
                            <!--</button>-->
                        </ng-container>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
