<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.subscription.title}">A new lab wants to subscribe to your IHIW project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.subscription.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.subscription.text1}">
            There is a new lab that wants to register to your IHIW project. Please login and manage your project's subscriptions.
        </p>
        <a th:with="url=(@{|${baseUrl}|})" th:href="${baseUrl}"
           th:text="${baseUrl}">Go to the app</a>
        <p>
            <span th:text="#{email.subscription.text2}">Best regards</span>
            <br/>
            <em th:text="#{email.signature}">The IHIW Team.</em>
        </p>
    </body>
</html>
