<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Database of the International HLA & Immunogenetics Workshop</h1>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="" *ngSwitchCase="false">
                <div class="">
                    <div class="">
                        <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                        </div>
                    </div>
                    <div class="">
                        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                            <div class="form-group">
                                <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                                       formControlName="username">
                            </div>
                            <div class="form-group">
                                <label for="password" jhiTranslate="login.form.password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                       formControlName="password">
                            </div>
                            <div class="alert alert-light">
                                <input class="" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                                <span jhiTranslate="login.form.rememberme">Remember me</span>
                            </div>
                            <div class="alert" [ngClass]="{'alert-light': !highlightConsent, 'alert-danger': highlightConsent}">
                                <input class="" type="checkbox" name="consent" id="consent" formControlName="consent" required>
                                <span jhiTranslate="login.form.consent">I agree to the <a href="https://www.ihiw18.org/privacy-policy/">Privacy Policy</a>.</span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
                            </div>
                        </form>
                        <br>
                        <p></p>
                        <div class="alert alert-warning">
                            <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                        </div>
                        <div class="alert alert-warning">
                            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                            <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span jhiTranslate="home.visit">
            Please visit the <a href="https://www.ihiw18.org" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">website of the 18th IHIWS</a> for more information.
        </span>

    </div>
</div>
