<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ihiwUser">
            <h2><span jhiTranslate="ihiwManagementApp.ihiwUser.detail.title">User</span> {{ihiwUser.user.lastName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.phone">Phone</span></dt>
                <dd>
                    <span>{{ihiwUser.phone}}</span>
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.user">User</span></dt>
                <dd>
                    {{ihiwUser.id}}
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.name">Name</span></dt>
                <dd>
                    <span>{{ihiwUser.user.firstName + " " + ihiwUser.user.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.email">E-mail</span></dt>
                <dd>
                    <span>{{ihiwUser.user.email}}</span>
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.lab">Lab</span></dt>
                <dd>
                    <div *ngIf="ihiwUser.lab">
                        <a [routerLink]="['/ihiw-lab', ihiwUser.lab?.id, 'view']">{{ihiwUser.lab?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.labname">Lab name from Institution</span></dt>
                <dd>
                    <span>{{ihiwUser.lab.title  +  " from " +  ihiwUser.lab.institution }}</span>
                </dd>
                <dt><span jhiTranslate="ihiwManagementApp.ihiwUser.labPI">Lab PI</span></dt>
                <dd>
                    <span>{{ihiwUser.lab.director }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ihiw-user', ihiwUser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
